/* rigpl color palette */
$midnight_blue: #18427B;
$dark_purple: #191B69;
$light_grey: #E2DBD4;
$green: #8BBF46;
$slate_grey: #7F8487;

$yellow_darkest: #CB6E17;
$yellow_darker: #DE911D;
$yellow_dark: #F0B429;
$yellow: #F7C948;
$yellow_light: #FADB5F;
$yellow_lighter: #FCE588;
$yellow_lightest: #FFF3C4;

$dark: #09092F;
$primary: #444468;
$grey: #4B4B64;
$primary-light: #606082;
$light: #A7A7BB;
